<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MetroLog" version="0.8.6.1" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Bcl.Compression" version="3.9.83" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-win81+wpa81" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="portable-win81+wpa81" />
  <package id="Prism.Mvvm" version="1.1.1" targetFramework="portable-win81+wpa81" />
  <package id="Prism.PubSubEvents" version="1.1.0" targetFramework="portable-win81+wpa81" />
  <package id="Prism.StoreApps" version="2.0.0" targetFramework="portable-win81+wpa81" />
  <package id="sqlite-net" version="1.0.8" targetFramework="portable-win81+wpa81" />
  <package id="TheTVDBSharp" version="1.0.5389.19137" targetFramework="portable-win81+wpa81" />
  <package id="UniRock" version="2.0.5371.38967" targetFramework="portable-win81+wpa81" />
</packages>